.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky {
    background-image: url('https://raw.githubusercontent.com/kubowania/flappy-bird/master/fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url('https://raw.githubusercontent.com/kubowania/flappy-bird/master/bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}

.bird {
    background-image: url('https://raw.githubusercontent.com/kubowania/flappy-bird/master/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-image: url('https://raw.githubusercontent.com/kubowania/flappy-bird/master/flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.top-obstacle {
    background-image: url('https://raw.githubusercontent.com/kubowania/flappy-bird/master/flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}